*.diff
*.patch
*.orig
*.rej

*~
*.a
*.lo
*.o
*.dylib

*.gcda
*.gcno
*.gcov

Makefile

/example
/example64
/examplesh
/final
/libz.so*
/minigzip
/minigzip64
/minigzipsh
/zlib.pc
/configure.log
ztest*

.DS_Store
